@import url(cabecalho.css);
@import url(sobre.css);
@import url(metricas.css);
@import url(talentos.css);
@import url(areas.css);
@import url(depoimentos.css);
@import url(rodape.css);

:root {
    --fonte-principal: "Inter";
    --branco: #FFFF;
    --branco-footer: #F9FAFB;
    --preto: #101828;
    --cor-destaque: #8E2424;
    --vermelho-medio: #C3191908;
    --vermelho-claro: #8E24240D;
    --cor-texto: #667085;
    --cinza-claro: #98A2B3;
    --cor-borda: #EAECF0;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--branco);
}

.container {
    padding: 5rem;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 4rem;
    }
}