.sobre-nos .container {
    text-align: center;
}

.sobre-nos__legenda {
    font-weight: 600;
    color: var(--cor-destaque)
}

.sobre-nos__titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    margin: 0.7em 0;
}

.sobre-nos__texto {
    font-size: 20px;
    color: var(--cor-texto);
    line-height: 30px;
    width: 53%;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .sobre-nos__titulo {
        font-size: 44px;
    }

    .sobre-nos__texto {
        width: 95%;
    }
}